#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <input/processors.dtsi>

/ {
    paljett_accel: paljett_accel {
        compatible = "zmk,paljett-accel";
        #input-processor-cells = <0>;
        min-factor = <400>;
        max-factor = <5000>;
        speed-max = <60>;
    };

    trackpad_listener: trackpad_listener {
        compatible = "zmk,input-listener";
        status = "okay";
        device = <&trackpad>;
        input-processors = <&paljett_accel>;
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <&kp A>;
        };
    };
};
